<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Customer Information </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

 <form [formGroup]="customerForm" (submit)="sendFeedBack()">
  <ion-list>

    <ion-item>
      <ion-label>Name: <span class="color-red">*</span> </ion-label>
      <ion-input type="text" color="success" formControlName="name"></ion-input>
    </ion-item>    

    <ion-item>
      <ion-label>Email: <span class="color-red">*</span> </ion-label>
      <ion-input type="email" color="success" formControlName="email"></ion-input>
    </ion-item>    

    <ion-item>
      <ion-label>Mobile: </ion-label>
      <ion-input type="text" color="success" formControlName="mobile"></ion-input>
    </ion-item>

  </ion-list>

    <ion-button  expand="block" type="submit" [disabled]="customerForm.invalid">Send FeedBack</ion-button> 
    <!-- <ion-button  expand="block" [routerLink]="['/feedback-finish']">Finish</ion-button>  -->
  </form>
</ion-content>
