<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Customer Feedback </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <app-welcome-note></app-welcome-note>


    <!-- your-component.html -->
  <ion-content>
    <div class="image-container">
      <img src="../../assets/feedback-home.jpg" [routerLink]="['/feedback-start-question-vertical']">
    </div>
  </ion-content>

  
</ion-content>
