ion-content.bgcolor {
  background: red;
}



/* Styling for the circle */
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #42b883; /* Change this to your desired background color */
}

/* Styling for the checkmark icon */
.checkmark-icon {
  font-size: 50px;
  color: #ffffff; /* Change this to your desired icon color */
  transform: scale(0); /* Initially, set the scale to 0 for animation */
  animation: scale-up 0.5s forwards;
}

/* Keyframes for the animation */
@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
